@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Курсова робота з баз даних</h1>
    <hr />
    <h3>Горбенко Федір ІС-11</h3>
    <hr />
    <p>Створення застосування</p>
    <h1>36. Марафон</h1>
    <hr />
    <h5>
        В місті двічі на рік проводяться масові легкоатлетичні змагання. Учасникам
        пропонуються дистанції 42км 195м (марафон), 21км 98м (півмарафон), 10км, дитячий
        забіг 2км. Участь коштує від 700 до 1400грн, залежно від часу реєстрації. Для учасників
        бойових дій, пенсіонерів та людей з інвалідністю знижка на участь у змаганнях 30%.
        Усі учасники отримають стартовий пакет, який включає стартовий номер учасника
        з чипом хронометражу. Результат учасників забігів фіксується електронною системою
        вимірювання часу MyLaps. Особистий результат буде зафіксовано при перетині лінії
        старту, фінішу та проміжних точок хронометражу. Відсутність зафіксованого часу на
        проміжних точках призводить до дискваліфікації.
        Загалом 2018 року на індивідуальних дистанціях, естафеті та дитячих забігах у 9th
        Wizz Air Kyiv City Marathon взяли участь 11 607 учасників з 50 країн світу. Попередні
        результати публікуються (на сайті https://athletic-events.com/) протягом 24 годин після
        закінчення змагань. Результати публікуються у вигляді відсортованого по часу подолання
        дистанції (час фінішу мінус час проходження стартових воріт – net time) списку учасників
        з указанням стартових номерів: по дистанціях, загальний залік, заліки по
        чоловіках/жінках, а також по чоловіках/жінках і вікових категоріях 18-22, 23-29, 30-39, 40-
        49, 50-59, 60-69, 70+). Учасник хоче бачити всі свої результати на всіх заходах.
    </h5>
</div>
